# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore Build & gradle dirs
../redflag-client/.gradle/
../redflag-client/build/
../redflag-client/gradle/

../redflag-server/.gradle/
../redflag-server/build/
../redflag-server/gradle/

#ignore .idea
../.idea/

*.lock
*.bin
*.probe
*.jar
*.properties
.gitignore
*.iml
*.xml
*.bat
package-lock.json
gradlew