body {
    margin: 0;
}

#outlet {
    height: 100vh;
    width: 100vw;
    display: grid;
}

host {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Manrope;
    src: url("assets/fonts/Manrope/static/Manrope-Medium.ttf") format("truetype");
}